<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Surveys Worldwide{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
</head>


<body class="min-vh-100">

  <nav class="container-fluid text-bg-secondary">
    <h1 class="px-3 py-4">Surveys Worldwide</h1>
  </nav>
  {% block content %}
  {% endblock %}

  <footer class="mt-4 py-2 container-fluid text-bg-secondary text-center fixed-bottom">
    &copy; Copyright Surveys Worldwide, LLC
    <br>
    <span>Built by
      <a class="link-light no-decoration" href="https://github.com/nathanrydel">Nathan Rydel</a>
    </span>
  </footer>

  <script src="https://unpkg.com/bootstrap@5/dist/js/bootstrap.bundle.js">
  </script>
</body>

</html>