{% extends 'base.html' %}


{% block content %}

<div class="container mx-3">
  <h2>{{ question.prompt }}</h2>
  <div class="row">
    <form class="mt-4" action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in question.choices %}
      <p>
        <input class="ms-4" type="radio" name="answer" value="{{ choice }}">
        {{ choice }}
      </p>
      {% endfor %}
      <input type="hidden" name="survey_key" value="{{survey_key}}">

      {% for msg in get_flashed_messages() %}
      <p class="text-danger">{{ msg }}</p>
      {% endfor %}
      <button class="mt-3 btn btn-primary">Continue</button>
    </form>
  </div>
</div>

{% endblock %}