{% extends 'base.html' %}

{% block title %} {{ survey.title }} {% endblock %}

{% block content %}

<div class="container mt-5 text-center">
  <h2> {{ survey.title }} </h2>
  <p>
    {{ survey.instructions}}
  </p>
</div>

<!--
    DO NOT CHANGE THE FORM ACTION OR METHOD
    You'll need to write the applicable code to handle this request
   -->
<div class="container">
  <form action="/begin" method="POST">
    <input name="survey_key" type="hidden" value="{{ survey_key }}">
    <button class="btn btn-primary mx-auto my-4 d-block">Start!</button>
  </form>
</div>

{% endblock %}